:root {
    --magenta: #c21259; 
    --light-magenta: #f81c70;
    --greyText: #cbcbcd; 
}

body{
	font-family: 'Roboto', sans-serif;
}

p{
	margin: 0;
}

.hero{
	height: 100vh;
}

#about{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main{
	border-bottom: 10px solid var(--magenta);
	background-image:
		url(images/portrait.png), 
		linear-gradient(to right, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 1%,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0) 100%),
		linear-gradient(45deg, #000030 0%,#345bac 44%,#8bb5ff 100%);
	background-repeat: no-repeat;
	background-position: 50vw 5vh, 0vw 15vh, top;
	background-size: 100%, 75vw 65vh, 100%;
}

.containerr{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.logoMain{
	padding: 0 30px;
}

.logoMain img{
	width: 40%;
}

.heroText{
	margin-top: 30px;
	padding: 0 30px;
	font-family: 'Anton', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	color: white;
}

.heroText h1{
	font-size: 2.2em;
}

.heroText .color{
	color: #f52074;
}

.menu{
	margin-top: 30px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase; 
}

.menu a{
	text-decoration: none;
	height: 30px;
	color: white;
	font-weight: bold;
}

.menu a:hover{
	border-bottom: 4px solid var(--magenta);
}

.socialMain{
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	margin: 10px 0 20px 0;
}

.socialMain a{
	color: white;
}

.aboutBack{
	margin: 0 30px;
	background-color: white;
}

.aboutTitle{
	padding: 30px 0 5px 30px;
	width: 55vw;
	font-weight: bold;
	color: #000041;
	text-transform: uppercase;
	border-bottom: 8px solid var(--light-magenta);
}

.aboutTxt{
	padding: 30px;
}

#gallery{
	height: 100vh;
}

#footer{
	height: 100vh;
	background-color: #00000d;
	border-top: 10px solid var(--magenta);
}

.footerContainerr{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end; 
}

.logo{
	padding: 0 30px;
	margin-bottom: 30px;
}

.logo img{
	width: 30%;
}

.footerTxt{
	font-size: 1rem;
	padding: 0 30px;
	color: var(--greyText);
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footerTxt a{
	color: var(--magenta);
}

.social{
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	margin: 60px 0 35px 0;
}

.social a{
	color: var(--greyText);
}

.copy{
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--greyText);
	padding: 0 30px;
	background-color: #06060d;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){

  	*/
@media (min-width: 568px) { 

  	#main{
		background-position: 65vw 3vh, 0vw 15vh, top;
		background-size: 50%, 75vw 65vh, 100%;
	}

  	.logoMain img{
		width: 15%;
	}

	.containerr{
		height: 150vh;
		width: 70%;
		justify-content: flex-start;
	}

	.hero{
		height: 150vh;
	}

	.logoMain{
		margin-top: 20px;
	}

	.heroText{
		margin-top: 15px; 
	}

	.socialMain{
		margin: 20px 0 20px 0;
	}

	.logo{
		margin-bottom: 10px;
		margin-top: 30px;
	}

	.logo img{
		width: 15%;
	}

	.footerTxt{
		font-size: 0.8rem;
	}

	.social{
		margin: 25px 0 10px 0;
	}

}

@media (min-width: 640px) { 
	.menu {
	    margin-top: 10px;
	}
}

@media (min-width: 667px) { 
	.menu {
	    margin-top: 20px;
	}

	.footerTxt{
		font-size: 0.95rem;
	}
}

@media (min-width: 731px) { 
	.menu {
	    margin-top: 30px;
	}
}

@media (min-width: 736px) { 
	.menu {
	    margin-top: 40px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.containerr{
		width: 60%;
	}
}

@media (min-height: 667px) { 
	.menu{
		margin-top: 50px;
	}
}

@media (min-height: 736px) { 
	.menu {
	    margin-top: 75px;
	}
}

@media (min-width: 812px) { 
	.menu {
	    margin-top: 15px;
	}
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}